<footer class="site-footer" dir="rtl">
  <div class="footer-content-wrapper">
    <div class="footer-about">
      <h3>من نحن</h3>
      <p>
        انضم إلينا في رسم ملامح المستقبل بحلول الألمنيوم الدقيقة.

        سواءً كنت تخطط لواجهة عصرية، أو إطار هيكلي، أو أعمال معدنية مخصصة،

        نحن هنا لنقدم لك الابتكار والمتانة التي تدفع مشروعك نحو النجاح.
      </p>
    </div>
    <div class="footer-column">
      <h3>روابط سريعة</h3>
      <ul>
        <li><a href="">من نحن</a></li>
        <li><a href="#">خدماتنا</a></li>
        <li><a href="#">مشاريعنا</a></li>
        <li><a href="#">اتصل بنا</a></li>

      </ul>
    </div>
    <div class="footer-column">
      <h3>معلومات التواصل</h3>
      <ul>
        <!-- <ul> <li dir="rtl" style="text-align: right;"> <i class="fas fa-phone"></i> {{ phone }}</li> -->
        <li dir="rtl" style="text-align: right;"><i class="fas fa-phone"></i> {{ phone | arabicNumbers }}</li>
        <li><i class="fas fa-envelope"></i> {{ email }}</li>
        <li><i class="fas fa-globe"></i> www.goldenratioconstruction .com</li>
        <li><i class="fas fa-map-marker-alt"></i> مبنى رقم ٢٢، حي الزد، الرياض</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>تابعنا</h3>
      <div class="social-icons"> <a class="social-link" href="#" aria-label="Instagram"> <i
            class="fab fa-instagram social-icon"></i>
        </a>
        <a class="social-link" href="#" aria-label="Twitter">
          <i class="fab fa-twitter social-icon"></i>
        </a>
        <a class="social-link" href="#" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in social-icon"></i>
        </a>
        <a class="social-link" href="#" aria-label="Facebook">
          <i class="fab fa-facebook-f social-icon"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom-bar">
    <p>&copy; .جميع الحقوق محفوظة لشركة غولدن ريشيو كونستركشن ٢٠٢٥
    </p>
  </div>
</footer>