.project-section {
  padding: 30px 10px;
  text-align: center;
  background-color: #FFFFFF;
  margin-top: 50px;
}

.project-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000000;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 60px;
}

.hero {
  background: url('https://emirfab.com/wp-content/uploads/2023/09/Aluminium-Fabrication-2.jpg') center center/cover no-repeat;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  padding: 150px;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.hero-content p {
  font-size: 20px;
  color: #ccc;
}
.project-card {
  /* background: white;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); */
  /* padding: 20px; */
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 300px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 22px;
  margin: 10px 0;
  color: #1a1a1a;
}

.project-card p {
  color: #666;
  font-size: 18px;
}

.head {
  margin-left: 50px;
  font-size: 25px;
  font-family: sans-serif;
  position: relative;
  right: 34%;
}